build --cxxopt='-std=c++17'
build --cxxopt='-Wno-narrowing'
build --host_cxxopt='-std=c++17'
build --host_cxxopt='-Wno-narrowing'
test --cxxopt='-std=c++17'
test --cxxopt='-Wno-narrowing'
test --host_cxxopt='-std=c++17'
test --host_cxxopt='-Wno-narrowing'
run --cxxopt='-std=c++17'
run --cxxopt='-Wno-narrowing'
run --host_cxxopt='-std=c++17'
run --host_cxxopt='-Wno-narrowing'
